@font-face {
  font-family: neuhass;
  src: url(./assets/NeueHaasDisplayMediu.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: neuhass;
}
html,
body {
  width: 100%;
  height: 100%;
}
.page1 {
  width: 100%;
  min-height: 100vh;
  background: #efeae3;
  padding: 0 45px;
  z-index: -100;
  
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
nav img {
  height: 80px;
}
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}
.nav2 h4 {
  cursor: pointer;
  font-size: 18px;
  padding: 13px 25px;
  font-weight:lighter;
  border: solid 1px rgba(0, 0, 0, 0.531);
  border-radius: 50px;
  position: relative;
  transition: color ease 0.5s;
  overflow: hidden;
}
.nav2 h4:hover {
  z-index: 1;
  color: white;
}

.nav2 h4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  left: 0;
  bottom: -100%;
  transition: all ease 0.3s;
}
.nav2 h4:hover::after {
  bottom: 0;
  border-radius: 50px;
  z-index: -1;
}

.center {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-bottom: solid 1px rgba(0, 0, 0, 0.562);
  padding-bottom: 70px;
  margin-top: 70px;

}
.left {
  /* letter-spacing: -10px; */
  width: 27vw;
  line-height: 97%;
  font-size: 35px;
  font-weight: 500;
}

.right {
  letter-spacing: -10px;
  line-height: 80%;
  width: 40vw;
  font-size: 10vw;
  text-align: end;
  font-weight: 500;
}
.page1 video{
  width: 100%;
  margin-top: 75px;
  border-radius: 30px;
  position: relative;
}
.anime1{
  position: absolute;
  width: 700px;
  height:500px;
  background-color: #ff4500;
  right: 0;
  top: 700px;
  filter: blur(20px);
  border-radius: 40%;
 
}
.anime2{
  position: absolute;
  width: 700px;
  height:500px;
  background-color: orangered;
  right: 0;
  top: 700px;
  filter: blur(20px);
  border-radius: 40%;
  animation-name: animee;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;


}
.anime3{
  position: absolute;
  width: 700px;
  height:500px;
  background-color: orangered;
  right: 0;
  top: 700px;
  filter: blur(20px);
  border-radius: 40%;
  animation-name: anime;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;


}


@keyframes anime {
  from{
   
  }
  to{
    transform: translate(100px,-50px);
    
  }
}
@keyframes animee{
  from{
   
  }
  to{
    transform: translate(-100px,-100px);
    
  }
}
.page2{
  width: 100%;
  min-height: 100vh;
  background-color: #efeae3;
}
.moving-text h1{
  font-size: 6vw;
  display: inline-block;



}
.moving-text{
  white-space: nowrap;
  overflow-x: auto;
 
}
::-webkit-scrollbar {
  display: none;
}

.con{
  display: inline-block;
  animation-name: move;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

}
.gola{
  display: inline-block;
  width: 45px;
  height:45px;
  background-color: #ff4500;
  border-radius: 50%;
  margin: 1vw 1vw;
}

@keyframes move{
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-100%);

  }
}

.page2-part2{
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
.page2-left{
  font-size: 70px;
  text-align: left;
  width:100vw;
  padding-left:100px;
  font-weight: 600;
}
.page2-right{
  display: flex;
  flex-direction: column;
  gap:60px;
  padding-right: 100px;

}
.page2-right img{
border-radius: 20px;
width: 350px;
}
.page2-right p{
  width: 350px;
  font-size:large;
  font-weight: 100;
  text-align: left;
}

.circle-anime{
  width: 28vw;
  height:28vw;
  position: absolute;
  background:linear-gradient(to top right,#ff3c00,#ff6f00);
  z-index: -1;
  border-radius: 50%;
  top:400px;
  left: 400px;
  filter: blur(18px);
  animation-name: circle-animation ;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}



@keyframes circle-animation {
  from{
    transform:translate(10%,-10%)skew(8deg);
  }
  to{
    transform:translate(-10%,10%) skew(-10deg);

  }
}
.page3{
  width:100%;
  min-height: 100vh;
  background-color: #EFEAE3;
  padding-top: 150px;
}
.first-line{
  width:100%;
  height:140px;
  display: flex;
  align-items:center;
  position: relative;
  overflow: hidden;
  border-bottom: solid 1px black;
}

.first-line h2{
  font-weight: 100;
  font-size: 60px;
  padding: 0 30px;
  position: relative;
  z-index: 100;
}
.overlay{
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: #FF9831 ;
  top:-100%;
  transition: all ease 0.3s;
}

.first-line:hover .overlay{
top:0;

}
.fixed-img{
  position:fixed;
  width: 24vw;
  height:28vw;
  background-color: #EFEAE3;
  border-radius: 15px;
  top:30%;
  left: 50%;
  z-index: 99;
  display: none;
}

.fixed-bgimage{
background-position:center;
background-size: cover;
background-repeat: no-repeat;
}

.page4{
  height: 60vh;
  width:100%;
  background-color: #EFEAE3;
}
.page5{

  height: 100vh;
  width:100%;
}
#main{
  /* background-color: black; */
  position: relative;
  z-index: 10;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: end;
  position: fixed;
  height: 100vh;
  width:100%;
  z-index: 9;
  bottom: 0;
  color: white;
  background-color: black;
}
.footer h1{
  font-size: 24vw;
}